version: 2
updates:
- package-ecosystem: gradle
  directory: /
  schedule:
    interval: weekly
- package-ecosystem: github-actions
  directory: /
  ignore:
  - dependency-name: '*'
    update-types:
    - version-update:semver-major
  schedule:
    interval: weekly
